<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <title>My Retail Store</title>
     <link rel="stylesheet" href="style.css">


</head>
<body>

<html lang="en">
<body>

  <header>
   <h1>My Retail Store</h1>
   <p> your one stop for quality clothing </p>

	</header>

	<nav>

		<a href="#">Home</a>
		<a href="#">clothing</a>
		<a href="#">About us</a>
		<a href="#">Contact us</a>

	</nav>

<html lang="en">
<body>


     <main>
    
      <section>
      <h2>Welcome</h2>
       <p>
         MY store dah you are welcome to choose through our variety wide range of clothing

       <p>
       </section>

  <section>
  <h2>featured Clothing</h2>

<div class="clothing">
<h3>clothing one<h/3>
<p>high quality clothing at a low price. </P>

   </div>
     <div class="clothing">
<h3> clothing two</h3>
<p> popular choice among regulars.</p>
   </div>
  <div class="clothing">
     <h3> clothing three</h3>
     <p>limited stock available</p>
  </div>
  </section>
  </main>


<footer>
   <p>&copy;2026 my retail store. all rights reserved. </p>
</footer>

</body>
</html>

